* {
	box-sizing: border-box;
	border: 0;
	outline: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

:root {
	--dark: #000D28;
	--light: #D1E0FF;
	--primary: #0054FF;
	--secondary: #6397FF;
}

html, body {
	font-family: 'Comfortaa', cursive;
	line-height: 1.5;
	color: white;
	background: var(--primary);
	min-height: 100.08vh;
}

::-webkit-scrollbar {
	width: 10px;
	display: block;
}

::-webkit-scrollbar-track-piece  {
    background-color: var(--light);
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: var(--primary);
}